%h1= t("new_stock_request")
= render "spree/shared/error_messages", :target => @stock_request
= form_for @stock_request, remote: true do |f|
  = f.hidden_field :product_id
  = f.hidden_field :variant_id
  %p
    = f.label :email
    - if current_user
      = current_user.email
    - else
      = f.text_field :email
  = f.submit t('submit_stock_request')
