<% content_for :page_title do %>
    <%= t(:stock_requests) %>
<% end %>

<% content_for :page_actions do %>
    <li><%= link_to_with_icon 'icon-arrow-left', t(:back_to_reports_list), spree.admin_reports_url, :class => 'button' %></li>
<% end %>


<% content_for :table_filter_title do %>
    <%= t(:date_range) %>
<% end %>

<% content_for :table_filter do %>
    <%= render :partial => 'spree/admin/shared/stock_report_criteria', :locals => {} %>
<% end %>

<table class="admin-report" data-hook="stock_requests">
  <thead>
    <tr>
      <th><%= sort_link @search, :email %></th>
      <th><%= t(:product) %></th>
      <th><%= t(:variant) %></th>
      <th><%= sort_link @search, :status %></th>
      <th><%= sort_link @search, :created_at, t(:requested) %></th>
    </tr>
  </thead>
  <tbody>
  <% @stock_requests.each do |stock_request| %>
      <% next if stock_request.product.nil? %>
      <tr class="cycle('even', 'odd')">
        <td><%= stock_request.email %></td>
        <td><%= link_to stock_request.product.name, edit_admin_product_path(stock_request.product) %></td>
        <td><%= stock_request.variant.options_text if stock_request.variant %></td>
        <td><%= stock_request.status.titleize %></td>
        <td>
          <%= time_ago_in_words(stock_request.created_at) %>
          <%= t(:ago) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
