.toolbar
  %ul.actions
    %li
      = button_link_to t("download"), stock_requests_admin_reports_path(@search.conditions.merge(:format => :csv)), {:icon => 'xls'}
  %br.clear

%h1= t(:stock_requests)

%table.index
  %tr
    %th= order @search, :by => :email
    %th= t(:product)
    %th= t(:variant)
    %th= order @search, :by => :status
    %th= order @search, :by => :created_at, :as => t(:requested)

  - @stock_requests.each do |stock_request|
    %tr{:class => cycle('even','odd')}
      %td= stock_request.email 
      %td= link_to stock_request.product.name, edit_admin_product_path(stock_request.product)
      %td= stock_request.variant.options_text if stock_request.variant
      %td= stock_request.status.titleize
      %td
        = time_ago_in_words(stock_request.created_at)
        = t(:ago)

= will_paginate(@stock_requests, :previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;")

- content_for :sidebar do
  = form_for @search do |f|
    .box
      %h3= t(:search)
      %p
        = f.label :product_variants_sku_contains, t(:sku)
        = f.text_field :product_variants_sku_contains, :size => 15
      %p
        = f.label :status_equals, t(:status)
        = f.select :status_equals, %w(new notified).collect {|s| [s.titleize,s]}, :include_blank => t(:show_all)
      %p.form-buttons
        = button t("search")
